@import "tailwindcss";

@layer base {
    body {
        @apply text-sm text-gray-800 antialiased;
    }

    button {
        @apply cursor-pointer;
    }
}

@layer components {
    .btn {
        @apply bg-gray-50 border border-gray-200 text-gray-600 focus:border-gray-300 focus:bg-gray-100 focus:text-gray-800 font-medium px-5 py-2 text-sm rounded-md;
    }
}