@import "tailwindcss";
@import "react-toast-msg/style.css";
@import "docstra/css";
@plugin "@tailwindcss/typography";

@layer base {
    body {
        @apply text-sm text-gray-800 antialiased;
    }

    button {
        @apply cursor-pointer;
    }
}