@import "tailwindcss";

button {
    @apply cursor-pointer;
}

@layer components {
    .btn {
        @apply bg-gray-800 text-white active:scale-95 transition duration-300 px-6 py-2 rounded-lg;
    }
}