:root {
    --toast-bg: #ffffff;
    --toast-color: #000000;
    --toast-border: #f0f0f0;
    --toast-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
}

.rtm-toast-container {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 356px;
    max-width: 100vw;
    margin: 0;
    list-style: none;
    z-index: 9999;
    outline: none;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    gap: 14px;
    pointer-events: none;
    justify-content: flex-end;
}

.rtm-toast {
    pointer-events: auto;
    display: flex;
    align-items: center;
    gap: 12px;
    background: var(--toast-bg);
    color: var(--toast-color);
    padding: 16px;
    font-size: 13px;
    border-radius: 6px;
    font-weight: 500;
    width: 100%;
    border: 1px solid var(--toast-border);
    box-shadow: var(--toast-shadow);
    will-change: transform, opacity, height;
    box-sizing: border-box;
}

.rtm-toast svg {
    flex-shrink: 0;
}

@keyframes toastEnter {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes toastExit {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(10px);
    }
}

.rtm-toast-enter {
    animation: toastEnter 0.4s cubic-bezier(0.21, 1.02, 0.73, 1) forwards;
    overflow: hidden;
}

.rtm-toast-exit {
    animation: toastExit 0.3s cubic-bezier(0.06, 0.71, 0.55, 1) forwards;
    overflow: hidden;
}