:root {
    --default-bg-color: oklch(27.8% 0.033 256.848);
    --default-text-color: #fff;

    --success-bg-color: oklch(72.3% 0.219 149.579);
    --success-text-color: #fff;

    --error-bg-color: oklch(63.7% 0.237 25.331);
    --error-text-color: #fff;

    --warning-bg-color: oklch(79.5% 0.184 86.047);
    --warning-text-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.toast-container {
    position: fixed;
    font-family: sans-serif;
    top: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    z-index: 9999;
}

.toast {
    display: flex;
    align-items: center;
    gap: 8px;
    background: #0f172b;
    color: #fff;
    padding: 12px;
    font-size: 14px;
    border-radius: 8px;
    min-width: 200px;
    max-width: 300px;
    will-change: transform, opacity;
}

.toast svg {
    flex-shrink: 0;
}

/* Enter animation */
.toast-enter {
    animation: toastEnter 0.45s cubic-bezier(0.21, 1.02, 0.73, 1) forwards;
}

/* Exit animation */
.toast-exit {
    animation: toastExit 0.4s cubic-bezier(0.06, 0.71, 0.55, 1) forwards;
}

/* Toast types */
.toast-success {
    background: var(--success-bg-color);
}

.toast-error {
    background: var(--error-bg-color);
}

.toast-warning {
    background: var(--warning-bg-color);
}

/* Keyframes */
@keyframes toastEnter {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }

    60% {
        opacity: 1;
        transform: translateX(-2px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes toastExit {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(20px);
    }
}